*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  /* border: 1px solid black; */
}
/* RESET */

/* BODY */
body{
  font-family: 'Roboto', sans-serif;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

p{
  color: grey;
}

/* /BODY */

/* HEADER E CONTAINER */
header{
  background-color: #0C325A;
  color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
}
/* HEADER E CONTAINER*/

/* LOGO e NAV */
.logo{
  width: 10%;
  vertical-align: bottom;
}

.logo, nav{
  margin-top: 10px;
}

nav{
  width: calc(90% - 5px);
  display: inline-block;
  position: relative;
  margin-bottom: 5px;
}

nav a, .button {

  text-transform: uppercase;
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

.button, #special-button{
  min-width: 300px;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: #7cbb02;
}

#special-button{
  padding: 5px 10px;
  border: 1px solid white;
  background: none;
}

.nav-list, .nav-login{
  display: inline-block;
}

.nav-list{
  margin: 0 20px;
}

.nav-login{
  position: absolute;
  right: 0;
}
/* /LOGO E NAV */

/* /HERO */
.hero-body{
  height: 400px;
  margin-top: 50px;
  width: 100%;
  background-image: url(../img/background-header.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.hero-body > .container{
  position: relative;
  height: 100%;
}

.hero-text{
  width:40%;
  position: absolute;
  transform: translateY(-50%);
  top:50%;
}

.hero-text > h2{
  font-size: 40px;
  margin: 40px 0;
}

.hero-text > .button{
  margin: 10px 0;
  font-size: 15px;
  padding: 15px 15px;
}
/* /HERO */

/* MAIN TITLE */
.interline{
  background-color: lightgrey;
  text-align: center;
  padding: 40px 0;
  color: grey;
}

.interline > h3{
  font-size:20px;
  padding-bottom: 20px;
  color: black;
}
/* /MAIN TITLE */

/* MAIN ROW 1 */
.box{
  max-width: calc(100% / 3);
  margin: auto;
  text-align: center;
  display: inline-block;
  float:left;
}

.box > img{
  height: 100px;
}

.box *{
  margin: 30px 20px;
}

.box  h4{
  font-size: 20px;
  color: #7cbb02;
}

.hr-style{
  width: 50px;
  margin: auto;
  border-style: grey;
}
main > hr{
  width: 95%;
  margin: auto;
  border-style: grey;
}
/* /MAIN ROW 1 */

/* MAIN ROW 2 */
.box.row2{
  max-width: 50%;
  margin: auto;
}
.box.row2 img{
  height: 350px;
}
.box.row2 h4{
  color: #000;
  font-size: 30px;
}
.box.row2 .box-text{
  text-align: left;
  max-width: 80%;
  padding-top: 20px;
  margin: auto;
}
/* /MAIN ROW 2 */

.container > section{
  display: inline-block;
}

.foot-title{
  color: black;
  min-width: 50%;
  text-align: left;
}
.foot-text{
  min-width: 25%;
  text-align: right;
}
.foot-button{
  min-width: 24%;
  text-align: right;
}
.foot-help{
  display: block;
  min-width: 100%;
  text-align: right;
  margin: 20px 0;
}
/* /MAIN */
