*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
}
/* RESET */

/* BODY */
body{
  font-family: 'Roboto', sans-serif;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

p{
  color: grey;
}
/* /BODY */

/* HEADER E CONTAINER */
header{
  background-color: #0C325A;
  color: #fff;
}

.container {
  width: 85%;
  margin: 0 auto;
}
/* HEADER E CONTAINER*/

/* LOGO e NAV */
.logo{
  width:8%;
  margin-top:10px;
}

.logo, nav{
  vertical-align: middle;
}

.nav-list li, .nav-login li, nav{
  display: inline-block;
  margin-top: 8px;
}

.nav-list{
  text-align: center;
  width: 50%;
}

.nav-login{
  width: 40%;
  text-align: right;
}

nav a{
  margin-right: 20px;
}

a:not(#a-special){
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.button, #special-button{
  text-align: center;
  padding: 5px 5px;
  border-radius: 5px;
  background-color: #7cbb02;
}

#special-button{
  display: inline-block;
  min-width: 80px;
  border: 1px solid white;
  background: none;
}
/* /LOGO E NAV */

/* /HERO */
.hero-body{
  height: 400px;
  width: 100%;
  background-image: url(../img/background-header.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 110% 100%;
}

.hero-body > .container{
  position: relative;
  height: 100%;
}

.hero-text{
  width:40%;
  position: absolute;
  transform: translateY(-50%);
  top:50%;
}

.hero-text > h2{
  font-size: 40px;
  margin: 40px 0;
}

.big.button{
  margin: 0 0;
  font-size: 14px;
  padding: 13px;
}
/* /HERO */

/* INTERLINE */
.interline{
  background-color: lightgrey;
  text-align: center;
  padding: 40px 0;
  color: grey;
}

.interline > h3{
  font-size:20px;
  padding-bottom: 20px;
  color: black;
}
/* /INTERLINE */

/* MAIN ROW 1 */
.box{
  max-width: calc(100% / 3);
  margin: auto;
  text-align: center;
  display: inline-block;
  float:left;
}

.box > img{
  height: 100px;
}

.box *{
  margin: 35px 20px;
}

.box  h4{
  height: 50px;
  font-size: 20px;
  color: #7cbb02;
}

hr, .hr-short{
  margin: auto;
  border-style: solid 1px grey;
}

.hr-short{
  width: 50px;
}

main > hr{
  width: 90%;
}
/* /MAIN ROW 1 */

/* MAIN ROW 2 */
.box.row2{
  max-width: 50%;
  margin: auto;
}

.box.row2 img{
  height: 350px;
}

.box.row2 h2{
  color: #000;
  font-size: 25px;
}

.box.row2 .box-text{
  float: right;
  text-align: left;
  max-width: 80%;
  padding-top: 20px;
}
/* /MAIN ROW 2 */

/* SEZIONE FINALE */
.foot section{
  display: inline-block;
}

.foot-text{
  min-width: 75%;
  margin-top: 15px;
}

.foot-left{
  float: left;
}

.foot-left > h2{
  color: black;
  font-size: 20px;
  text-align: left;
}

.foot-right{
  float: right;
}

.foot-right > select{
  text-align: left;
  margin: 0 10px 0 15px;
  color: grey;
  min-width: 100px;
  background-color: lightgrey;
  border-style: none;
  border-bottom: 1px grey solid;
}

.foot-button{
  float: right;
  min-width: 20%;
  height:100px;
  position: relative;
}

.foot-button > a:first-child{
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
}

.foot-button > a:last-child{
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
}
